// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

//   Variables
$Very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);
$white: #ffffff;
$black: #000000;
$error-color: gold;
$success-color: rgb(109, 238, 22);

  body {
    font-family: "Rubik", sans-serif;
  }
//   load icon
@keyframes loader {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }

}
.load-icon {
    animation: loader 1.25s infinite;

}

// Loader container
.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    color: $black;
    background-color: cyan;
}

//App container
.app-container {
    width: 100%;
    height: 100vh;
    
    // hero-image-container
    .hero-image-container {
        display: flex;
        align-items: start;
        justify-content: center;
        height: 38vh;
        background-image: url(../assets/images/pattern-bg-desktop.png);

        .search-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            min-width: 90%;
            // border: 1px solid black;
        }
        .search-container .main-header{
            margin-top: 2rem;
            color: $white;
            font-weight:500;
            font-size:xx-large;
        }
        .search-container .search-field {
            margin-top: 1rem;
            // border: 1px solid black;
            max-width: 90%;
            min-width: 60%  ;
            .error-text{
                color: $error-color;
                font-size: 17px;
                text-align: center;
            }
            .success-text {
                color: $success-color;
                font-size: 17px;
                text-align: center;
            }
            .loading {
                font-size: 18px;
                color: $white;
            }
        }
        .search-container .search-field form .input{
            border: 0px;
            padding: 1rem;
            font-size:18px;
            &:focus {
                outline: none;
            }
        }
        .search-container .search-field form .input[type='text']{
            border-top-left-radius: .8rem;
            border-bottom-left-radius: .8rem;
            width: 85%;
            // width: 90%;
            text-align: center;
        }
        .search-container .search-field form .input[type='submit']{
            border-top-right-radius: .8rem;
            border-bottom-right-radius: .8rem;
            background: $black;
            color: $white;
            font-weight: bold;
            cursor:pointer;
        }
        // Result-container
        .text-result {
            display: flex;
            align-items:center;
            justify-content: space-around;
            padding: 1rem;
            position: relative;
            // width: 65rem;
            // max-width: 90%;
            min-width: 90%;
            height: 9rem;
            background-color: $white;
            z-index: 401;
            bottom: -2.8rem;
            border-radius: .8rem;
            div {
                border-left: 1px solid $dark-gray;
                font-weight: 500;
                padding-left: 1rem;
            }
            div[class='first']{
                border-left: none;
            }
            .header {
                display: block;
                color: $dark-gray;
                font-size:medium;
                margin-bottom: 1rem;
            }
            .data {
                color: $Very-dark-gray;
                font-size: x-large;
            }
        }
    }
    // Attribution
    .attribution { 
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 100%;
        font-size: 14px;
        text-align: center;
        z-index: 1000;
        background-color: $white;
        a { 
            color: hsl(228, 45%, 44%);
        }
    }
}
// This style has to here, it is used to style the MapContainer component.
.leaflet-container {
    height:75vh;
    // width: 99vw;
    margin:0px;
    padding: 0px;

}

/* Small screens */
@media screen and (max-width: 650px){
  .app-container {
    .hero-image-container {
        height: 30vh;
        background-image: url(../assets/images/pattern-bg-mobile.png);
        background-size: cover;

        .text-result {
            flex-direction: column;
            width: 90%;
            height: auto;
            bottom: -0.8rem;
            padding: 1.3rem 1rem;
            div {
                border-left: 0px;
                margin-top: 1.2rem;
                font-weight: 500;
                padding-left: 1rem;
                // border: 1px solid #000000;
            }
            div[class='first']{
                margin-top: 0px;
            }
            .header {
                text-align: center;
                margin-bottom: 0.2rem;
            }
        }
        .search-container .search-field {
            width: 100%;
            // border: 1px solid black;
        }
        .search-container .search-field form .input[type='text']{
            width: 85%;
            text-align: center;
        }
    }
    // This style has to here, it is used to style the MapContainer component.
.leaflet-container {
    height:90vh;
    padding-bottom: 1.5rem;
}
  }
}


